<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test</title>
    <link rel="stylesheet" href="../../assets/css/components/animation/swiper.cobra.css">
</head>
<body>
    <div class="slider">
        <div class="slides">
            <div class="slide">
                <img src="./img1.jpg" alt="">
            </div>
            <div class="slide">
                <img src="./img2.jpg" alt="">
            </div>
            <div class="slide">
                <img src="./img3.jpg" alt="">
            </div>
        </div>
    </div>
    <script src="../../assets/js/libs/Swipe.Cobra.js"></script>
</body>
</html>