<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title data-element="textForm.branchText"></title>

    <meta name="robots" content="index, follow">

    <!-- FB -->
    <meta data-mt-fb="og:title" property="og:title" content="">
    <meta data-mt-fb="og:description" property="og:description" content="">
    <meta data-mt-fb="og:image" property="og:image" content="">
    <meta data-mt-fb="og:url" property="og:url" content="">
    <meta data-mt-fb="og:type" property="og:type" content="">

    <!-- Twitter -->
    <meta data-mt-twitter="twitter:card" name="twitter:card" content="">
    <meta data-mt-twitter="twitter:title" name="twitter:title" content="">
    <meta data-mt-twitter="twitter:description" name="twitter:description" content="">
    <meta data-mt-twitter="twitter:image" name="twitter:image" content="">

    <!-- Link -->
    <link data-link="icon" rel="icon" href="" type="">
    <link data-link="canonical" rel="canonical" href="">

    <!-- Esto es para analiticas -->
    <script type="application/ld+json">
        {
          "@context": "https://schema.org",
          "@type": "Product",
          "name": "Zapatillas Deportivas Nike",
          "image": "https://tu-sitio.com/imagenes/zapatillas.jpg",
          "description": "Compra zapatillas Nike con los mejores precios.",
          "brand": {
            "@type": "Brand",
            "name": "Nike"
          },
          "offers": {
            "@type": "Offer",
            "priceCurrency": "USD",
            "price": "79.99",
            "itemCondition": "https://schema.org/NewCondition",
            "availability": "https://schema.org/InStock"
          },
          "aggregateRating": {
            "@type": "AggregateRating",
            "ratingValue": "4.5",
            "reviewCount": "28"
          }
        }
    </script>
</head>
<body>
    <script src="./assets/js/middleware/TransferDataJSON.js"></script>
</body>
</html>